@font-face {
  font-family: "Akkurat";
  font-display: swap;
  src: url("../fonts/AkkuratLLPanTT-Bold.woff") format("woff"), url("../fonts/AkkuratLLPanTT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  font-display: swap;
  src: url("../fonts/AkkuratLLPanTT-Regular.woff") format("woff"), url("../fonts/AkkuratLLPanTT-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// Vuetify Library Variables
@import './vuetify/variables';

// Custom Vuetify Style Overrides
@import './vuetify/overrides.scss';
